@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2{
    color: yellow;
    font-size: 50px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2rem;
    border: 1px solid grey;



}
 
html{
    font-family: 'Bebas Neue', cursive;
    font-size: 62.5%;

    
}

.calculator-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid black;
    overflow-x: auto;
    background-color: rgba(5, 51, 5, 0.815);
    color: white;
    font-size: 25px;
}

.calculator-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1px 2px;
    font-size: 25px;
}

.keypad-button{
    width: 25%;
    padding: 15px 5px;
    text-align: center;
    cursor: pointer;
    background-color: #1a0321;
    border: solid 2px rgba(119, 136, 153, 0.185);
    color: whitesmoke;
    transition: 0.2s;
}

.keypad-button:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 30px #a945c7, 0 0 70px #a945c7 ;
    transition-delay: 0.1s;
}



.keypad-button.large{
    width: 50%;
    
}

.keypad-button.result:hover{
    background-color: rgb(65, 238, 172);
    box-shadow: 0 0 10px rgb(65, 238, 172), 0 0 30px rgb(65, 238, 172), 0 0 70px rgb(65, 238, 172) ;
    transition-delay: 0.1s;
}
    




body{
    background-image: url(/img/fondo.jpg);
}

.divjs{
color: antiquewhite;
font-size: 30px;

}